	<META NAME="ROBOTS" CONTENT="NOINDEX, FOLLOW">
	<meta charset="utf-8">
	<meta name="robots" content="noindex">
	
<div class="jumbotron">
    <div class="container">
        <h1>About us</h1>
        <p>This is the sample project I built for <a href="https://onemonthrails.com">One Month Rails</a>.</p>
    </div>
</div>