

    <META NAME="ROBOTS" CONTENT="NOINDEX, FOLLOW">
    <meta charset="utf-8">
    <meta name="robots" content="noindex">

        <div class="container">      
        </div>
    </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">      
            <h1>Best Fit Product Management</h1>
        </div>
    </div>
    <div class="container">

    	<h2>What is Debubble</h2>
        <p>As product management is a comparatively recent addition to the work environment, there is still significant disagreement as to how it should be carried out. One of the greatest challenges that businesses come across is the butting of heads of product managers attempting to push text book best practice on a business and business leaders, although understanding that a product manager is needed, struggling to understand how it can be right for their business. The reality is that there is no way that the best ways of working of a start-up can also be right for a FTSE 100 firm and visa versa. Similarly, successful aproaches to product management in an editorial or publishing organisation are unlikely to work in a low user number ecommerce environment. Best fit product delivery is about understnding the business, it's needs and what makes it a success, and building a product delivery process around that. </p>
 
     </div>