

    <META NAME="ROBOTS" CONTENT="NOINDEX, FOLLOW">
    <meta charset="utf-8">
    <meta name="robots" content="noindex">

        <div class="container">      
        </div>
    </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">      
            <h1>New Product Delivery</h1>
        </div>
    </div>
    <div class="container">

    	<!-- <h2>What is Debubble</h2> -->
        <p>Often opportunities to launch a new product come around due to a gap in the market and therefore speed to market is imperative. Debubble has launched a number of mobile, web and tablet based products in a number of environemnts and is able to cut your time to market and the disruption to your existing teams by leading your product definition and delivery team. </p>
 
     </div>