

    <META NAME="ROBOTS" CONTENT="NOINDEX, FOLLOW">
    <meta charset="utf-8">
    <meta name="robots" content="noindex">

        <div class="container">      
        </div>
    </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">      
            <h1>Product Reviews</h1>
        </div>
    </div>
    <div class="container">

    	<h2>What is Debubble</h2>
        <p>When working with a product for some time, it is often useful to get an e=outside opinion on your work. Debubbe provides experts in UI, market fit and UX to assess your product and provide a report to allow you to make the imporvements that can make the difference between a successful business and a struggling one. </p>
 
     </div>