// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-home {
    background-image: url(image_path('home-bg.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


div.container_padding {
  position: relative;
  padding-top: 2em;
  margin-top: 28px;
}


// h1{
  // font-family: 'Roboto Slab', serif;
  // font-size: 80px;
  // margin-bottom: -20px;
  
// }
h2{font-size: 25px;
}

h3{font-size: 15px;
}


a{
  font-size: 15px;
  color: #add8e6;
  text-decoration: none;
}
